*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;

    height: 100vh;
    margin: 0;
    color: #fff;;
}

header nav{
  background-color: #ba71bc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    justify-content: center;
    
}
.searchBox{
    background-color:white;
    margin-right: 10px;
    border: none;
    width: 100%;
    min-width: 225px;

}
.searchBox::placeholder{
    font-weight: bold;
    padding-left: 10px;
}

form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

 form button[type="submit"]{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
 }

 form button[type="submit"]:hover, .recipe button:hover{
    background-color: rgba(46, 44, 44, 0.76);
 }

 /* main section */
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap:40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;  
}

.recipe{
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}
.recipe:hover{
    transform:scale(1.02);

}
.recipe img{
    height: 310px;
}
.recipe h3{
    font-size: 20px;
    margin-block: 5px;

}
.recipe p{
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color:black ;
    color: white;
    border:none;
    transition: background-color 0.3s ease-in-out;
}

/* recipe detail*/
.recipe-details{
    display:none;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#ba71bc;
    width: 40%;
    height: 60%;
    -webkit-transform: translate(-50%,-50%);
    border-radius: 12px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y:scroll ;
}
.recipe-details-content{
    padding: 30px;
}
.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.recipeIngredent li{
margin-top: 20px;
margin-left: 20px;
}
.recipeInstruction p{
    line-height: 30px;
    white-space: pre-line;
}
.recipe-close-btn{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    background-color:red ;
    color: white;
    position: absolute;
    top:20px;
    right:20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;

}

/*adding scrollbar to recipe detail popup*/
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background-color: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}
body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-thumb{
    background-color: #a1a1a1;
   
}
body::-webkit-scrollbar-track{
    background-color: #ebebeb;
   
}
@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    
}